<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Product Name</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css" />
 </head>
  <body>
    <div id="container">
     <div id="sidebar">
       <div>
         <div> <!--hacer el commit-->
          <h1>Tabla de Contenidos</h1>
         </div>
         <div>
            <ul>
               <li>Blog</li>
               <li>Declaración</li>
               <li>Referencias</li>
            </ul>
         </div>
       </div>
     </div>
     <div id="main">
      <div class="cabecera">
        <div>
          <h1><a href="/">The 42 Blog</h1>
        </div>
        <div>
          <ul>
            <div><a href="https://www.youtube.com/@ercarltz2737" target="_blank" rel="noreferrer">Youtube</div>
            <div><a href="https://twitter.com/iker_velez" target="_blank" rel="noreferrer">Twitter</div>
            <div><a href="https://github.com/Iker1211" target="_blank" rel="noreferrer">Github<a href="https://github.com/Iker1211" target="_blank" rel="noreferrer"></a></div>
          </ul>
        </div>
      </div>
      <div class="contenido">
        <div class="blog-cards-container">
          <card class="entry-card">
            <h2>Entry Title</h2>
            <p>Rada rada rada</p>
          </card>
          <card class="entry-card">
            <h2>Entry Title</h2>
            <p>Rada rada rada</p>
          </card>
          <card class="entry-card">
            <h2>Entry Title</h2>
            <p>Rada rada rada</p>
          </card>
        </div>
         <div class="card" style="background-color: pink">
            <a href="/write">Write here a simple and stunish entry</a>
         </div>
      </div>
      <div class="footer">
         CS50x 2024
      </div>
     </div>
    </div>
  </body>
</html>