
html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#sidebar {
    width: 300px;
    height: 100%;
    background-color: #5A387B;
    flex: none;
}

#main {
    background-color: royalblue;
    width: 100%;
    height: 100%;
    flex: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    z-index: 99999999999999999;
}

.cabecera {
    background-color: #1A2A3B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    height: 20%;
}

.cabecera ul {
    display: flex;
    gap: 10px;
}

.contenido {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    flex: none;
    flex-wrap: wrap;
}

.footer {
    background-color: #1A2A3B;
    display: flex;
    justify-content: center;
    height: 10%;
}

/*Wtite*/

.card {
width: 65%;
background-color: white;
}

#blog-post-form {
width: 100%;
}

.col 
{
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
}

textarea
{
    width: 95%;
    height: 200px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    resize: none;
}

/* Prueba */
@media (max-width: 1050px) {
    #sidebar {
        display: none;
    }
  }

  @media (max-width: 750px) {
    #blog-post-form {
        display: none;
    }
  }

  @media (min-width: 750px) {
    em {
        display: none;
    }
  }