
html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#sidebar {
    width: 300px;
    height: 100%;
    background-color: blue;
    flex: none;
}

#main {
    background-color: royalblue;
    width: 100%;
    height: 100%;
    flex: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.cabecera {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    height: 20%;
}

.cabecera ul {
    display: flex;
    gap: 10px;
}

.contenido {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    flex: none;
}

.footer {
    background-color: brown;
    display: flex;
    justify-content: center;
    height: 10%;
}

/*Wtite*/

.card {
width: 65%;
z-index: 99999;
}

#blog-post-form {
width: 100%;
}

.col 
{
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
  box-shadow: #00000059 0px 5px 15px;
}

textarea
{
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    resize: none;
}
